.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #aaa;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.arc {
	stroke: #000;
	fill:	rgba(250,0,0,0.5);
	stroke-width: 0;
}

path {
    stroke: white;
    stroke-width: 0.25px;
    fill: #808080;
}

.details {
    top: 0px;
    visibility: hidden;
    width: 300px;
    padding: 30px;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    background-color: aliceblue;
    font-size: 50px;
}
